{% extends 'base.html.twig' %}

{% block title %}Commentaire index{% endblock %}

{% block body %}
    <h1>Commentaire index</h1>
    <style>

        body{
         background-color:#69a238;  
           
    }
    </style>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
            <tr>
                <td>{{ commentaire.id }}</td>
                <td>{{ commentaire.contenu }}</td>
                <td>
                    <a href="{{ path('admin_commentaire_show', {'id': commentaire.id}) }}"><button>Détail</button></a> 
                    <a href="{{ path('admin_commentaire_edit', {'id': commentaire.id}) }}"><button>Modifier</button></a> 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_commentaire_new') }}"><button>Création d'un commentaire</button></a> 
{% endblock %}
