{% extends 'base.html.twig' %}

{% block title %}Paiement index{% endblock %}

{% block body %}
    <h1>Paiement index</h1>
    <style>

        body{
         background-color:#69a238;  
           
    }
    </style>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Creation</th>
                <th>StripeSessionId</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paiement in paiements %}
            <tr>
                <td>{{ paiement.id }}</td>
                <td>{{ paiement.creation ? paiement.creation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ paiement.stripeSessionId }}</td>
                <td>
                    <a href="{{ path('admin_paiement_show', {'id': paiement.id}) }}"><button>Détail</button></a> 
                    <a href="{{ path('admin_paiement_edit', {'id': paiement.id}) }}"><button>Modifier</button></a> 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_paiement_new') }}"><button>Création</button></a> 
{% endblock %}
