{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>
    <style>

        body{
         background-color:#69a238;  
           
    }
    </style>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>   
            <tr>
                <th>Image</th>
                <td>
                    <img src= {{asset('uploads/' ~ produit.imageFilename)}} width="100%" />
                </td>
            </tr> 
            <tr> 
                <th>Nom</th>
                <td>{{ produit.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.prix }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ produit.imageFilename }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_produit_index') }}"><button>Retour</button></a> 

    <a href="{{ path('admin_produit_edit', {'id': produit.id}) }}"><button>Modifier</button></a> 

    {{ include('admin_produit/_delete_form.html.twig') }}
{% endblock %}
