{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Mes articles</h1>
    <style>

        body{
         background-color:#69a238;  
           
    }
    </style>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>MotCles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.titre }}</td>
                <td>{{ article.contenu }}</td>
                <td>{{ article.motCles }}</td>
                <td>
                    <a href="{{ path('profile_article_show', {'id': article.id}) }}"><button>Détails</button></a>
                    <a href="{{ path('profile_article_edit', {'id': article.id}) }}"><button>Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('profile_article_new') }}"><button>créer un nouvel article</button></a>
{% endblock %}
